.login-container {
	margin: 0 auto;
	max-width: 500px;
	text-align: center;
	padding-top: 50px;
}

h2 {
	margin-bottom: 30px;
}

form {
	display: inline-block;
	text-align: left;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
	border-radius: 5px;
	border-color: rgb(21, 214, 188);
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #45a049;
}